.App {
  margin: 0 auto;
  padding-top: 20px;
  width: 350px;
  /* overflow: hidden; */
  -webkit-overflow-scrolling: touch;
}

.result {
  /* text-align: center; */
}

.btn {
  width: 105px;
}

.btn:first-of-type {
  margin-right: 20px;
}
