.App {
  padding-top: 50px;
  width: 400px;
  overflow: hidden;
}

.result {
  font-size: 2em;
  line-height: 32px;
  text-align: center;
}

.btn {
  width: 122px;
}

.btn:first-of-type {
  margin-right: 20px;
}
