.App {
  margin: 0 auto;
  padding-top: 50px;
  width: 350px;
  overflow: hidden;
}

.result {
  font-size: 2em;
  line-height: 32px;
  text-align: center;
}

.btn {
  width: 105px;
}

.btn:first-of-type {
  margin-right: 20px;
}
